@{
    ViewBag.Title = "About Orange hospital";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table>
    <tr>
        <td>
            <p>From Founder's Desk</p>
            <img src=" ~/Content/Images/amarnath.jpg" />
            <p> Dr. Amarnath Selmokar</p>
            <p> Founder and Head, Orange Hospital</p>
        </td>
        <td>
           <p> Mr. Dr. Amarnath is Kolhapur cities top Rated Gynacologist. they have handson experience in Infertility and test tube baby.
            Dr. Amarnath Had completed his education from D Y Patil medical collage, kolhapur in 1998.</p>
        </td>
    </tr>
</table>